
.mainImgLeftContainerBefore {
    opacity: 0;
    display: flex;
    width: 90vw;
    height: 85vh;
    left: 70vw;
    text-align: center;  
    padding-bottom: 0vh;
}

.mainImgLeftContainerAfter  {
    opacity: 1;
    height: 85vh;
    display: flex;
    width: 90vw;
    text-align: center;  
    padding-bottom: 0vh;

}

.mainImgRightContainerBefore {
    opacity: 0;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    right: 10vw;
    text-align: center;  
    padding-top: 10vh;
}

.mainImgLeftContainerLarge  {
    padding-bottom: 12vh !important;
}



.mainImgRightContainerAfter {
    opacity: 1;
    height: 70vh;
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    text-align: center;
    padding-top: 10vh;
}

#nerveMuseumSignImgContainer {
    height: 70vh;
}



.imageCaptionContainerLeft {
    display: flex;
    align-items: center;
    min-height: 20vh;
    max-height: 35vh;
    z-index: -1;
    contain: content;
    padding: 5vh;
    color: honeydew;
    position: absolute;
    background-color: grey;
    width: 70vw;
    min-width: 250px;
    bottom: 5vh;    
    right: 8vw;
    box-shadow: -5px 5px 8px 0px #5f5f5f;
    height: auto;
}


.imageCaptionContainerRight {
    display: flex;
    align-items: center;
    min-height: 30vh;
    max-height: 40vh;
    z-index: -1;
    contain: content;
    padding: 4vh;
    color: honeydew;
    position: absolute;
    background-color: grey;
    width: 70vw;
    min-width: 250px;
    bottom: 5vh;
    left: 10vw;
    box-shadow: -5px 5px 8px 0px #5f5f5f;
    height: auto;
    margin-left: 5vw;
}


.spacerGif {
    min-width: 15vw;
    position: relative;
}

.headerImgRight {
    height: 35vh;
    width: auto;
    max-width: 75vw;
    margin-left: 25vw;
    box-shadow: -6px 3px 16px 0px grey;
}

.headerImgLeft {
    height: 65%;
    width: auto;
    max-width: 85vw;
    margin-right: 20vw;
    box-shadow: -6px 3px 16px 0px grey;
}

#nerveMuseumSignImgContainer > .headerImgLeft {
    height: 35vh;
}



.fadeInRightImage {
    right: 0;
    animation: fadeInOpacity 3s;
    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition: opacity 2s transform 2s;
    -webkit-transform: translateX(-10vw); /* Safari */
    transform: translateX(-10vw);
}

.fadeInLeftImage {
    left: 0;
    animation: fadeInOpacity 3s;
    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition: opacity 2s transform 2s;
    -webkit-transform: translateX(10vw); /* Safari */
    transform: translateX(10vw);
}

.imageCaptionText {
    margin-top: 8vh;
    font-size: larger;
}


.imageCaptionContainerRight > .imageCaptionText {
    font-size: x-large;
}

@keyframes fadeInOpacity {
    0% {opacity: 0; }
    100% {opacity: 1; }
 }


 @media only screen and (max-device-width: 500px) {

    .imageCaptionContainerLeft { 
        bottom: 0vh;
    }

    .imageCaptionContainerRight > .imageCaptionText {
        font-size: medium;
    }

    .imageCaptionText {
        font-size: large;
        margin-top: 5vh;
    }

    #juliaSternExcerpt {
        font-size: x-small !important;
    }
 }